/* Isso é um comentário em CSS*/
body {
  background-color: linen;
}

h1 {
  color: maroon;
  margin-left: 40px;
}

h2 {
  color: blue;
  margin-left: 70px;
}

h3 {
  color: gold;
  margin-left: 70px;
}

p {
  text-align: justify;
}
